<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스 페이지</title>
</head>
<body>
    <h1>모든 게시글 리스트</h1>
    {% for article in articles %}
        <div>
            <h3>글 제목 : {{ article.title }}</h3>
            <p>글 내용 : {{ article.content }}</p>
            <p>작성자 : {{ article.user }}</p>
            <p>작성 시간 : {{ article.created_at }}</p>
        </div>
    {% endfor %}
</body>
</html>